{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Events{% endblock %}

{% block content %}
<ul>
    {% for event in events %}
        <li>{{ event.name }}
            {{ event.description }}
            {{ event.date|date('d/m/Y') }}
        </li>
    {% else %}
        IL n'y a pas d'évènements en cours actuellement. Créez-en un ! 
        <a href="#"><button>Créer un évènement</button></a>
    {% endfor %}
</ul>
{% endblock %}
