.main--header{
    display: flex;
    flex-direction: column;
    background-color: orange;
    width: 20%;
    min-height: 100vh;
    font-family: 'Fredoka One', cursive;
    color: white;
    text-align: center;
    margin: 0 3% 0% 3%;
}

.main--header a:hover{
    color: yellow;;
}

.main--header a{
    color: white;
}

.content--cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main--content{
    width: 100%;

}

main{
    display: flex;
    
}

.main--content h1{
    margin: 0 5% 5% 5%;
    text-align: center;
}

.homepage--main{
    display: flex;
    min-height: 100vh;
}

.homepage--left{
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.homepage--left h1{
    font-family: 'Fredoka One', cursive;
    color: white;
    font-size: 5em;
    margin: 1rem;
}

.homepage--left span{
   font-family: 'Cookie', cursive; 
   color: white;
   font-size: 1.5em;
}



.homepage--buttons{
    display:flex;
    justify-content: center;
}

.homepage--button{
    margin: 4rem;
    margin-right: 2rem;
    transition: all .2s ease-in-out;
}

/* .homepage--button:hover{
    transform: scale(1.5);
} */

.homepage--right{
    padding: 5%;
    background-image: url('../img/carte.jpg');
    background-repeat: no-repeat;
    
}

.homepage--title{
    font-family: 'Fredoka One', cursive;
    margin-bottom: 2em;
}

footer{
    display: flex;
    justify-content: center;
}

footer a{
    margin: 5%;
    
}

.form--group{
    width: 50%;
    text-align: center;
    margin: auto;
}



