{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Créer un groupe{% endblock %}

{% block pageName %} Créer un groupe {% endblock %}

{% block content %}
    <div class="form--group">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="submit">Enregistrer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
