<header>
        <h1>MEET'O'CLOCK</h1>
</header>
<nav>
    <a href="#">Accueil</a>
    <a href="#">Profil</a>
    <a href="#">Groupes</a>
    <a href="#">Evènements</a>
    <a href="#">Carte</a>
    <a href="#">Déconnexion</a>
</nav>
