<header>
    <h1>MEET'O'CLOCK</h1>
    <nav>
        <a class="nav-link" href="#">Accueil</a>
        <a class="nav-link" href="#">Profil</a>
        <a class="nav-link" href="#">Groupes</a>
        <a class="nav-link" href="#">Evènements</a>
        <a class="nav-link" href="#">Carte</a>
        <a class="nav-link" href="#">Déconnexion</a>
    </nav>
</header>